################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQWeb.ExcelCreate/wwwroot/files/ff46da31-41cc-4c99-b803-31bbc0091370.xls
