################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQWeb.ExcelCreate/wwwroot/files/ff46da31-41cc-4c99-b803-31bbc0091370.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/e36c38de-7b63-4d5c-99fc-df6c5b91f732.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/db094ada-1815-42d4-9a31-c6ba6f65db7b.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/da886e74-ef3e-4462-8601-5632a018b7af.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/c84a8d6a-6439-4bb0-82c7-3c5cb223fd92.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/b3d2737c-5125-4a64-99c6-52a4446433a6.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/a5345eef-8c32-4130-adde-0a78eebd9a44.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/6e565fe0-8eed-4612-a0cc-9c27e11af9f1.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/5edceb33-e300-4d76-87b1-41232b296bf0.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/52043250-9f48-4c4a-ab6f-828de354e52b.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/28661ae9-3cc3-415c-be3c-9e0fc35fe0ba.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/283b38d5-198f-4f54-ad18-135f6c629701.xls.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/fd7b3d1a-82af-4a9e-aba3-c86196a33ffc.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/f05d97e5-8d92-4b21-9374-03771248cadd.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/ee8e1587-36d7-4169-b1b6-d0fa08aaa135.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/d40aae6d-bd5b-4a4c-a738-22465c6a5f04.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/d28d1c9b-5723-438d-afa2-7f2bd33f4743.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/be2590c8-fa84-43eb-8213-1e027a9b883b.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/bbacc15d-3975-4208-9fa9-6b0955cf7fad.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/afe9e95f-ad4b-41a3-bc64-073d7be57f00.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/871a01d0-cbac-4459-8599-669d63eb1b6e.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/7584585a-a421-4e3b-a32e-08c280cad76d.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/745e1616-7cf9-42a6-9ec6-8c0b122f0cef.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/661aa4bc-eb1b-46db-b3bf-32668fd1ead4.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/544f59a2-7848-4f17-9eeb-9ef40125b4eb.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/2e2b4e36-2dba-46d5-8db4-6c915046bf17.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/1b738891-2649-47c4-8835-b14fa5b78b5b.xls
/RabbitMQWeb.ExcelCreate/wwwroot/files/0145e93c-3a5a-49a2-9dbd-a2c24700fb4a.xls
